body{
	margin: 0% ;
	background-color: #F78181;

	text-align: center;
	align-items: center;
	justify-content: center;
}
h1{
	float: center;
	display: block;
	text-align: center;
}
h3{
	float: center;
	display: block;
	text-align: center;	
}
input{
	text-align:center;
}